* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	width: 100%;
}

.container {
	width: 100%;
	height: 100%;
}

.modal-custom {
	height: auto !important;
}

.input-field p {
	display: flex;
	justify-content: space-between;
}

.modal-footer {
	padding: 20px !important;
	height: 90px !important;
}

.modal-content.tech-margin h4 {
	margin-bottom: 20px;
}
